header {
    background-color: #A89B85;
    text-align: center;
}

#pa1 {
    text-align: center;
    font-size: 20px;
}

#pa2 {
    text-align: justify;
}

#pa3 {
    text-align: justify;
}

#pa4 {
    text-align: justify;
}

#pa5 {
    text-align: justify;
}

#pa6 {
    text-align: justify;
}

#img {
    width: 100px;
}

#img2 {
    width: 80px;
}

#img_section{
    text-align: center;
}

footer {
    background-color: #A89B85;
    text-align: center;
}

#pfooter {
    font-size: 12px;
}


}